Repository comet-ml/opik, pull requests merged in 2024-09, with the labels that each got.

#149 OPIK-21 [UX] Improve UX of the trace component
  apps/opik-frontend/src/components/pages/DatasetCompareExperimentsPage/DatasetCompareExperimentsPage.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceTreeViewer/TraceTreeViewer.module.scss
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceTreeViewer/TraceTreeViewer.tsx
  apps/opik-frontend/src/lib/utils.ts
Labels: enhancement

#159 [NO-JIRA] Port forward Clickhouse to localhost
  build_and_run.sh
Labels: enhancement

#167 OPIK-42 Experiment compare for single supplied experiment
  apps/opik-backend/src/main/java/com/comet/opik/api/resources/v1/priv/DatasetsResource.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemService.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/DatasetsResourceTest.java
Labels: enhancement

#165 [OPIK-41] Show the link to UI in pytest integration
  sdks/python/src/opik/_logging.py
  sdks/python/src/opik/decorator/base_track_decorator.py
  sdks/python/src/opik/plugins/pytest/decorator.py
  sdks/python/src/opik/plugins/pytest/hooks.py
  sdks/python/src/opik/plugins/pytest/summary.py
  sdks/python/src/opik/url_helpers.py
  sdks/python/tests/unit/test_logging.py
Labels: enhancement

#168 OPIK-42 Compare only dataset items with matching experiment items
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemService.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/DatasetsResourceTest.java
Labels: enhancement

#178 OPIK-20 [UX] Add simple keyboard shortcuts for trace sidebar
  apps/opik-frontend/package-lock.json
  apps/opik-frontend/package.json
  apps/opik-frontend/src/components/pages/DatasetCompareExperimentsPage/DatasetCompareExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/DatasetCompareExperimentsPage/DatasetCompareExperimentsPanel/DatasetCompareExperimentsPanel.tsx
  apps/opik-frontend/src/components/pages/DatasetItemsPage/DatasetItemsPage.tsx
  apps/opik-frontend/src/components/shared/ResizableSidePanel/ResizableSidePanel.tsx
  apps/opik-frontend/src/components/shared/TooltipWrapper/TooltipWrapper.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceAnnotateViewer/AnnotateRow.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceAnnotateViewer/TraceAnnotateViewer.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDetailsPanel.tsx
  apps/opik-frontend/src/components/ui/tooltip.tsx
Labels: enhancement

#177 OPIK-55 Find experiment by partial name and case-insensitive
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentDAO.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
Labels: enhancement

#190 [NA] Style adjustments for code editor and hotkey tooltip
  apps/opik-frontend/src/components/shared/CodeHighlighter/CodeHighlighter.tsx
  apps/opik-frontend/src/components/shared/SyntaxHighlighter/SyntaxHighlighter.tsx
  apps/opik-frontend/src/components/shared/TooltipWrapper/TooltipWrapper.tsx
Labels: enhancement

#202 NO-JIRA Missing now64 precision of 9
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentItemDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentItemService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/TraceDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/TraceService.java
  apps/opik-backend/src/main/java/com/comet/opik/infrastructure/db/DatabaseAnalyticsModule.java
Labels: bug

#211 OPIK-71 Resolve dataset name in experiment endpoints
  apps/opik-backend/src/main/java/com/comet/opik/api/Experiment.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentService.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
Labels: enhancement

#216 [OPIK-37] [UX Improvement] Move experiments to separate page
  apps/opik-frontend/src/api/datasets/useExperimentsList.ts
  apps/opik-frontend/src/components/layout/Breadcrumbs/Breadcrumbs.tsx
  apps/opik-frontend/src/components/layout/SideBar/SideBar.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/AddExperimentToCompareDialog.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentAddHeader.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsHeader.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPanel/CompareExperimentsDataViewer.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPanel/CompareExperimentsPanel.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPanel/CompareExperimentsViewer.tsx
  apps/opik-frontend/src/components/pages/DatasetItemsPage/DatasetItemsPage.tsx
  apps/opik-frontend/src/components/pages/DatasetPage/DatasetPage.tsx
  apps/opik-frontend/src/components/pages/DatasetsPage/DatasetsPage.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsActionsButton.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsPage.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/ResourceCell.tsx
  apps/opik-frontend/src/components/shared/DebounceInput/DebounceInput.tsx
  apps/opik-frontend/src/components/shared/FeedbackScoresEditor/AddFeedbackScorePopover.tsx
  apps/opik-frontend/src/components/shared/LoadableSelectBox/LoadableSelectBox.tsx
  apps/opik-frontend/src/components/shared/LoadableSelectBox/NoOptions.tsx
  apps/opik-frontend/src/components/shared/NewExperimentButton/NewExperimentButton.tsx
  apps/opik-frontend/src/components/shared/SearchInput/SearchInput.tsx
  apps/opik-frontend/src/components/ui/button.tsx
  apps/opik-frontend/src/components/ui/input.tsx
  apps/opik-frontend/src/components/ui/select.tsx
  apps/opik-frontend/src/hooks/useDatasetIdFromCompareExperimentsURL.ts
  apps/opik-frontend/src/router.tsx
  apps/opik-frontend/src/types/datasets.ts
Labels: enhancement

#225 OPIK-80 [UX improvement] Add ability to delete feedback score definition
  apps/opik-frontend/src/api/feedback-definitions/useFeedbackDefinitionDeleteMutation.ts
  apps/opik-frontend/src/api/feedback-definitions/useFeedbackDefinitionUpdateMutation.ts
  apps/opik-frontend/src/components/pages/FeedbackDefinitionsPage/FeedbackDefinitionsPage.tsx
  apps/opik-frontend/src/components/pages/FeedbackDefinitionsPage/FeedbackDefinitionsRowActionsCell.tsx
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/AddEditFeedbackDefinitionDialog.tsx
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/FeedbackDefinitionDetails/CategoricalFeedbackDefinitionDetails.tsx
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/FeedbackDefinitionDetails/NumericalFeedbackDefinitionDetails.tsx
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/FeedbackDefinitionDetails/index.tsx
  apps/opik-frontend/src/components/shared/FeedbackScoresEditor/AddFeedbackScorePopover.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceAnnotateViewer/AnnotateRow.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceAnnotateViewer/TraceAnnotateViewer.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDetailsPanel.tsx
Labels: enhancement

#250 [OPIK-91] [UX improvements] Implement the Experiment configuration section in the compare page
  apps/opik-frontend/package-lock.json
  apps/opik-frontend/package.json
  apps/opik-frontend/src/api/datasets/useExperimenstByIds.ts
  apps/opik-frontend/src/api/datasets/useExperimentById.ts
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentAddHeader.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsHeader.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/CompareConfigCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/ConfigurationTab.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ExperimentItemsTab/ExperimentItemsTab.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/FeedbackDefinitionsPage/FeedbackDefinitionsValueCell.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/CellWrapper.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/CodeCell.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/FeedbackScoresCell.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/IdCell.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/ListCell.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/TagCell.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/TextCell.tsx
  apps/opik-frontend/src/components/shared/DataTableHeaders/TypeHeader.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDataViewer/FeedbackScoreValueCell.tsx
  apps/opik-frontend/src/components/ui/switch.tsx
  apps/opik-frontend/src/components/ui/table.tsx
  apps/opik-frontend/src/constants/shared.ts
Labels: enhancement

#252 [OPIK-91] [UX improvements] Implement the Experiment configuration section in the compare page
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsDetails.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/CompareConfigCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/ConfigurationTab.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ExperimentItemsTab/ExperimentItemsTab.tsx
  apps/opik-frontend/src/components/shared/DataTableNoData/DataTableNoData.tsx
Labels: enhancement

#253 [OPIK-102] [UX] Support metadata when adding datasetItem from UI
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsDetails.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/CompareConfigCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ExperimentItemsTab/ExperimentItemsTab.tsx
  apps/opik-frontend/src/components/pages/DatasetItemsPage/AddEditDatasetItemDialog.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/BaseTraceDataTypeIcon.tsx
Labels: enhancement

#255 Add pre-line text wrap to compare experiments config
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/CompareConfigCell.tsx
Labels: enhancement

#246 Jacques/docker compose docs
  README.md
  apps/opik-documentation/documentation/docs/cookbook/evaluate_hallucination_metric.ipynb
  apps/opik-documentation/documentation/docs/cookbook/evaluate_hallucination_metric.md
  apps/opik-documentation/documentation/docs/cookbook/evaluate_moderation_metric.ipynb
  apps/opik-documentation/documentation/docs/cookbook/evaluate_moderation_metric.md
  apps/opik-documentation/documentation/docs/cookbook/langchain.ipynb
  apps/opik-documentation/documentation/docs/cookbook/langchain.md
  apps/opik-documentation/documentation/docs/cookbook/llama-index.ipynb
  apps/opik-documentation/documentation/docs/cookbook/llama-index.md
  apps/opik-documentation/documentation/docs/cookbook/openai.ipynb
  apps/opik-documentation/documentation/docs/cookbook/openai.md
  apps/opik-documentation/documentation/docs/cookbook/ragas.ipynb
  apps/opik-documentation/documentation/docs/cookbook/ragas.md
  apps/opik-documentation/documentation/docs/home.md
  apps/opik-documentation/documentation/docs/quickstart.md
  apps/opik-documentation/documentation/docs/self-host/kubernetes.md
  apps/opik-documentation/documentation/docs/self-host/local_deployment.md
  apps/opik-documentation/documentation/docs/self-host/overview.md
  apps/opik-documentation/documentation/docs/self-host/self_hosting_opik.md
  apps/opik-documentation/documentation/docusaurus.config.ts
  apps/opik-documentation/documentation/package-lock.json
  apps/opik-documentation/documentation/package.json
  apps/opik-documentation/documentation/sidebars.ts
  apps/opik-documentation/python-sdk-docs/source/index.rst
  sdks/python/src/opik/cli.py
Labels: work in progress

#267 OPIK-72 Make experiment name optional
  apps/opik-backend/src/main/java/com/comet/opik/OpikApplication.java
  apps/opik-backend/src/main/java/com/comet/opik/api/Experiment.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/NameGenerator.java
  apps/opik-backend/src/main/java/com/comet/opik/infrastructure/db/NameGeneratorModule.java
  apps/opik-backend/src/main/java/com/comet/opik/utils/JsonUtils.java
  apps/opik-backend/src/main/resources/name-generator/adjectives.json
  apps/opik-backend/src/main/resources/name-generator/nouns.json
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
Labels: enhancement

#274 [OPIK-24] [UX improvements] Delete button in Actions menu when selecting multiple traces
  apps/opik-frontend/src/api/datasets/useExperimentItemBatchDeleteMutation.ts
  apps/opik-frontend/src/api/traces/useTraceBatchDeleteMutation.ts
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPanel/CompareExperimentsViewer.tsx
  apps/opik-frontend/src/components/pages/TracesPage/TracesActionsButton.tsx
  apps/opik-frontend/src/components/pages/TracesPage/TracesPage.tsx
  apps/opik-frontend/src/components/shared/NoData/NoData.tsx
Labels: enhancement

#276 [OPIK-92] [UX Improvements] Add filters to Experiment page
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsFiltersButton.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/TracesPage/TracesPage.tsx
  apps/opik-frontend/src/components/shared/FiltersButton/ColumnSelector.tsx
  apps/opik-frontend/src/components/shared/FiltersButton/OperatorSelector.tsx
  apps/opik-frontend/src/components/shared/LoadableSelectBox/LoadableSelectBox.tsx
  apps/opik-frontend/src/components/shared/NewExperimentButton/NewExperimentButton.tsx
Labels: enhancement

#284 [OPIK-117] [Open-source] Use new Opik logo for open-source platform
  apps/opik-frontend/public/images/comet-logo.png
  apps/opik-frontend/public/images/opik-logo.png
  apps/opik-frontend/src/components/layout/EmptyLayout/EmptyLayout.tsx
  apps/opik-frontend/src/components/layout/Logo/Logo.tsx
  apps/opik-frontend/src/components/layout/SideBar/SideBar.tsx
  apps/opik-frontend/src/plugins/comet/Logo.tsx
  apps/opik-frontend/src/plugins/comet/WorkspacePreloader.tsx
  apps/opik-frontend/src/store/PluginsStore.ts
Labels: enhancement

#286 [OPIK-126] [UX Improvements] Add label for experiments that use a deleted dataset
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsDetails.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsPage.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/ResourceCell.tsx
  apps/opik-frontend/src/components/shared/ResourceLink/ResourceLink.tsx
Labels: enhancement

#288 [OPIK-129] [UX Improvements] Show filter item by default when clicking on Filters
  apps/opik-frontend/src/components/shared/FiltersButton/FiltersButton.tsx
Labels: enhancement

#290 [OPIK-124] [UX Improvements] Changes to Add to compare modal
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/AddExperimentToCompareDialog.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsDetails.tsx
  apps/opik-frontend/src/components/pages/TracesPage/AddToDataset/AddToDatasetDialog.tsx
Labels: enhancement

#295 [OPIK-125] [UX Improvements] Inform user when trying to compare experiments that use different datasets
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/AddExperimentToCompareDialog.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsActionsButton.tsx
  apps/opik-frontend/src/components/pages/ExperimentsPage/FilterExperimentsToCompareDialog.tsx
Labels: enhancement

#296 [OPIK-113] [UX improvement] Add code diffing to experiment configuration page
  apps/opik-frontend/package-lock.json
  apps/opik-frontend/package.json
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsHeader.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/CompareExperimentsPage.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/CompareConfigCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ConfigurationTab/ConfigurationTab.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ExperimentItemsTab/CompareExperimentsCell.tsx
  apps/opik-frontend/src/components/pages/CompareExperimentsPage/ExperimentItemsTab/ExperimentItemsTab.tsx
  apps/opik-frontend/src/components/shared/CodeDiff/TextDiff.tsx
  apps/opik-frontend/src/components/ui/table.tsx
  apps/opik-frontend/src/lib/utils.ts
Labels: enhancement

#294 OPIK-76 Add stream experiment items endpoint
  apps/opik-backend/src/main/java/com/comet/opik/api/ExperimentItemStreamRequest.java
  apps/opik-backend/src/main/java/com/comet/opik/api/resources/v1/priv/DatasetsResource.java
  apps/opik-backend/src/main/java/com/comet/opik/api/resources/v1/priv/ExperimentsResource.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/DatasetItemService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentItemDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentItemService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/Streamer.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/DatasetsResourceIntegrationTest.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
Labels: enhancement

#305 OPIK-123 [UX Improvements] Align number columns to the right
  apps/opik-frontend/src/components/pages/ExperimentsPage/FilterExperimentsToCompareDialog.tsx
  apps/opik-frontend/src/components/pages/ProjectsPage/ProjectsPage.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/CellWrapper.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/TextCell.tsx
  apps/opik-frontend/src/components/shared/DataTableHeaders/TypeHeader.tsx
  apps/opik-frontend/src/components/shared/NewExperimentButton/NewExperimentButton.tsx
  apps/opik-frontend/src/components/shared/TooltipWrapper/TooltipWrapper.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDataViewer/FeedbackScoreRowDeleteCell.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDataViewer/FeedbackScoreTab.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDataViewer/InputOutputTab.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceDataViewer/MatadataTab.tsx
Labels: enhancement

#308 OPIK-128 [UX Improvements] Style input, select and textarea states
  apps/opik-frontend/package-lock.json
  apps/opik-frontend/package.json
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsFiltersButton.tsx
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/AddEditFeedbackDefinitionDialog.tsx
  apps/opik-frontend/src/components/shared/FiltersButton/ColumnSelector.tsx
  apps/opik-frontend/src/components/shared/FiltersButton/OperatorSelector.tsx
  apps/opik-frontend/src/components/shared/LoadableSelectBox/LoadableSelectBox.tsx
  apps/opik-frontend/src/components/shared/SelectBox/SelectBox.tsx
  apps/opik-frontend/src/components/shared/SyntaxHighlighter/SyntaxHighlighter.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceAnnotateViewer/AnnotateRow.tsx
  apps/opik-frontend/src/components/ui/description.tsx
  apps/opik-frontend/src/components/ui/input.tsx
  apps/opik-frontend/src/components/ui/select.tsx
  apps/opik-frontend/src/components/ui/textarea.tsx
  apps/opik-frontend/src/components/ui/toggle.tsx
Labels: enhancement

#311 [OPIK-140] [UX Improvements] Sidebar not opening when clicking on row with code block
  apps/opik-frontend/package-lock.json
  apps/opik-frontend/package.json
  apps/opik-frontend/src/components/pages/DatasetItemsPage/AddEditDatasetItemDialog.tsx
  apps/opik-frontend/src/components/shared/CodeHighlighter/CodeHighlighter.tsx
  apps/opik-frontend/src/components/shared/DataTableCells/CodeCell.tsx
  apps/opik-frontend/src/components/shared/SelectBox/SelectBox.tsx
  apps/opik-frontend/src/components/shared/SyntaxHighlighter/SyntaxHighlighter.tsx
  apps/opik-frontend/src/hooks/useCodemirrorTheme.tsx
  apps/opik-frontend/src/main.scss
  apps/opik-frontend/src/plugins/comet/UserMenu.tsx
Labels: enhancement

#314 [OPIK-82] Dot character not allowed on feedback definition values
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/FeedbackDefinitionDetails/CategoricalFeedbackDefinitionDetails.tsx
  apps/opik-frontend/src/components/shared/AddEditFeedbackDefinitionDialog/FeedbackDefinitionDetails/NumericalFeedbackDefinitionDetails.tsx
  apps/opik-frontend/src/components/shared/FeedbackScoresEditor/AddFeedbackScorePopover.tsx
  apps/opik-frontend/src/components/shared/TraceDetailsPanel/TraceAnnotateViewer/AnnotateRow.tsx
  apps/opik-frontend/src/components/ui/input.tsx
  apps/opik-frontend/src/components/ui/textarea.tsx
  apps/opik-frontend/src/lib/traces.ts
Labels: bug
