Repository comet-ml/opik, pull requests merged in 2025-06, with the labels that each got.

#2336 Add total and avg experiment cost
  apps/opik-backend/src/main/java/com/comet/opik/api/Experiment.java
  apps/opik-backend/src/main/java/com/comet/opik/api/sorting/ExperimentSortingFactory.java
  apps/opik-backend/src/main/java/com/comet/opik/api/sorting/SortableFields.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentDAO.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
  apps/opik-frontend/src/components/pages/ExperimentsPage/ExperimentsPage.tsx
  apps/opik-frontend/src/types/datasets.ts
Labels: 🙋 Bounty claim

#2390 issue-2147: Follow-up fix pr-2336 on Experiment tests
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/utils/resources/ExperimentResourceClient.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
Labels: java

#2255 feat: added sentiment evaluator metric provided by ntk
  apps/opik-documentation/documentation/fern/docs/evaluation/metrics/heuristic_metrics.mdx
  apps/opik-documentation/documentation/requirements.txt
  sdks/python/src/opik/evaluation/metrics/__init__.py
  sdks/python/src/opik/evaluation/metrics/heuristics/sentiment.py
  sdks/python/tests/unit/evaluation/metrics/test_sentiment.py
Labels: 🙋 Bounty claim

#2563 Revert "NO-JIRA: Exclude TypeScript Fern classes from typecheck (#2561)"
  sdks/typescript/tsconfig.json
Labels: Bug, javascript, Typescript SDK
