Repository comet-ml/opik, pull requests merged in 2025-05, with the labels that each got.

#2033 OPIK-1515: Add port mapping to opik.sh and opik.ps1
  opik.ps1
  opik.sh
Labels: Feature Request

#2045 OPIK-1515: Fixes in opik.ps1
  opik.ps1
Labels: Bug

#2107 OPIK-1555: Add bake build check to opik sh and ps1 scripts
  opik.ps1
  opik.sh
Labels: Feature Request

#2130 OPIK-1510: Reduce view to micro secs of span last updated at
  apps/opik-backend/src/main/java/com/comet/opik/api/Span.java
Labels: Feature Request, java

#2131 OPIK-1510: Reduce span last updated at to microseconds
  apps/opik-backend/src/main/resources/liquibase/db-app-analytics/migrations/000025_reduce_span_last_updated_at_to_micros.sql
Labels: Feature Request

#2135 OPIK-1510: Add client side last_updated_at resolution for Span
  apps/opik-backend/src/main/java/com/comet/opik/api/Span.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanDAO.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/utils/RandomTestUtils.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/utils/spans/SpanAssertions.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/SpansResourceTest.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/TracesResourceTest.java
Labels: Feature Request

#2207 OPIK-1510: Minimal Span field ingestion
  apps/opik-backend/src/main/java/com/comet/opik/api/Span.java
  apps/opik-backend/src/main/java/com/comet/opik/api/SpanUpdate.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanService.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/utils/spans/SpanAssertions.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/SpansResourceTest.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/TracesResourceTest.java
  apps/opik-backend/src/test/java/com/comet/opik/podam/PodamFactoryUtils.java
Labels: Feature Request, java

#2219 OPIK-1628: Add new RateLimit-Reset header
  apps/opik-backend/src/main/java/com/comet/opik/infrastructure/auth/RequestContext.java
  apps/opik-backend/src/main/java/com/comet/opik/infrastructure/ratelimit/RateLimitInterceptor.java
  apps/opik-backend/src/main/java/com/comet/opik/infrastructure/ratelimit/RateLimitResponseFilter.java
  apps/opik-backend/src/test/java/com/comet/opik/infrastructure/ratelimit/RateLimitE2ETest.java
Labels: Feature Request, java

#2209 OPIK-1664: Create new Experiment API
  apps/opik-backend/src/main/java/com/comet/opik/api/ExperimentItemBulkRecord.java
  apps/opik-backend/src/main/java/com/comet/opik/api/ExperimentItemBulkUpload.java
  apps/opik-backend/src/main/java/com/comet/opik/api/Span.java
  apps/opik-backend/src/main/java/com/comet/opik/api/resources/v1/priv/ExperimentItemBulkMapper.java
  apps/opik-backend/src/main/java/com/comet/opik/api/resources/v1/priv/ExperimentsResource.java
  apps/opik-backend/src/main/java/com/comet/opik/api/resources/v1/priv/validate/ExperimentItemBulkValidator.java
  apps/opik-backend/src/main/java/com/comet/opik/api/validation/MaxRequestSize.java
  apps/opik-backend/src/main/java/com/comet/opik/api/validation/MaxRequestSizeValidator.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/ExperimentItemBulkIngestionService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/FeedbackScoreService.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/utils/resources/ExperimentResourceClient.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/ExperimentsResourceTest.java
Labels: Feature Request, java

#2264 OPIK-1510: Make span type optional and updatable
  apps/opik-backend/src/main/java/com/comet/opik/api/Span.java
  apps/opik-backend/src/main/java/com/comet/opik/api/SpanUpdate.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanDAO.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanService.java
  apps/opik-backend/src/main/java/com/comet/opik/domain/SpanType.java
  apps/opik-backend/src/test/java/com/comet/opik/api/resources/v1/priv/SpansResourceTest.java
Labels: Feature Request, java

#2301 NO-JIRA: Upgrade Python sandbox dependencies
  apps/opik-sandbox-executor-python/requirements.txt
Labels: dependencies, python
